.custom-navbar {
    width: 1100px;
    font-size: 14px;
}
.custom-navbar .navbar-brand {
    font-size: 30px; 
    font-weight: 700;
}
.get-started {
    position: absolute;
    right: 0;
}
.navbar-collapse {
    margin-left: 8rem;
}

.custom-header {
    width: 470px;
}

.main {
    position: relative;
    width: 1100px;
    margin: auto;
    margin-top: 6rem;
}

.custom-search {
    width: 700px;
    position: relative;
    z-index: 2;
}
.custom-search input {
    width: 100%;
    padding: 1.3rem;
}
.custom-search button {
    position: absolute;
    right: 10px; 
    top: 10px;
    bottom: 10px;
}

.custom-box {
    width: 150px;
    height: 110px;
    line-height: 110px;
    font-size: 15px;
    font-weight: 600;
}
.text {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
}
.custom-box h3 {
    font-weight: 900;
    font-size: 20px;
}
.custom-box p {
    font-weight: 700;
    font-size: 15px;
}

.custom-container {
    position: absolute;
    top: 0;
    right: 0;
}
.custom-card {
    width: 550px;
}
.custom-img {
    height: 550px;
    object-fit: cover;
}

.custom-overlay {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 255, 255));
    z-index: 1;
    width: 550px;
    height: 550px;
    position: absolute;
}

@media (max-width: 1200px) {
    .custom-navbar {
        width: 900px;
    }
    .navbar-collapse {
        margin-left: 0;
        margin-right: 3rem;
    }

    .custom-header {
        width: 320px;
    }

    .main {
        width: 900px;
    }

    .custom-search {
        width: 550px;
        font-size: 15px;
    }

    .custom-text {
        font-size: 10px;
    }

    .custom-box {
        width: 110px;
        height: 110px;
    }
    .custom-box p {
        font-size: 12px;
        font-weight: 900;
    }

    .custom-container {
        top: 15px;
        right: 0;
    }
    .custom-card {
        width: 480px;
    }
    .custom-img {
        height: 480px;
    }
    .custom-overlay {
        width: 480px;
        height: 480px;
    }
    .custom-card p {
        font-size: 15px;
    }
}


@media (max-width: 992px) {
    .custom-navbar {
        width: 750px;
    }
    .custom-navbar .navbar-brand {
        font-size: 20px; 
        font-weight: 900;
    }
    .navbar-toggler {
        margin-right: 2rem;
    }
    .navbar-collapse {
        font-size: 18px;
    }
    .get-started {
        position: relative;
    }

    .custom-header {
        text-align: center;
        width: 100%;
    }

    .main {
        width: 750px;
    }

    .custom-search {
        width: 100%;
        font-size: 15px;
    }

    .custom-text {
        font-size: 10px;
    }

    .custom-box {
        width: 100%;
        height: 120px;
    }
    .custom-box h3 {
        font-size: 25px;
    }
    .custom-box p {
        font-size: 14px;
    }

    .custom-container {
        display: none;
    }

    footer {
        text-align: center;
    }
}